@import "../styles/Variables.scss";
@import "../styles/Breakpoints.scss";

*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: $sharpFont;
}

.flex{
    display: flex;
}
.v-center{
    align-items: center;
}
.center{
    justify-content: center;
}

button{
    background: none;
    outline: none;
    border: none;
}