@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Playfair+Display:wght@500;800&family=Sansita+Swashed:wght@300&family=Secular+One&display=swap');

//fonts
$sharpFont: 'David Libre',
serif;
$subHead: 'Playfair Display',
serif;
$cursiveFont: 'Sansita Swashed',
cursive;
$head: 'Secular One',
sans-serif;